$snow: #F5F5F5;
$dark-snow: #E5E5E5;
$dark-smoke: #555;
$smoke:#8E8E8E;
$dark-blue: #167ABC;
$font-pt-sans: 'pt-sans', sans-serif;
$font-pt-sans-italic: 'pt-sans-italic', sans-serif;
$font-pt-sans-bold: 'pt-sans-bold', sans-serif;
$font-pt-sans-caption: 'pt-sans-Caption', sans-serif;
$font-pt-sans-caption-bold:'pt-sans-caption-bold', sans-serif;

@import 'functions.scss';

@include fontFace('pt-sans-bold', 'normal', 400, '../fonts/PTSans-Bold.woff');
@include fontFace('pt-sans-italic', 'italic', 400, '../fonts/PTSans-Italic.woff');
@include fontFace('pt-sans', 'normal', 400, '../fonts/PTSans-Regular.woff');
@include fontFace('pt-sans-caption', 'normal', 400, '../fonts/PTSansCaption-Regular.woff');
@include fontFace('pt-sans-caption-bold', 'normal', 300, '../fonts/PTSansCaption-Bold.woff');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $dark-snow;

    @include breakpoint('tablet'){
        width: 100%;
    }
}

.header {
    background: #fff;
    height: 44px;
    padding: 10px 24px;
    display: flex;
    align-items: center;

    .logo {
       display: flex;
    }

    .info-test {
        justify-content: flex-end;
        font: 14px $font-pt-sans-caption;
        display: flex;
        flex: 1;
        color: $dark-smoke;
        margin-right: 16px;
        
        br {
            display: none;
        }

        span {
            font-family: $font-pt-sans-caption-bold;
            font-weight: bold;
        } 
    }

    .icon-cb {
        width: 32px;
        height: 32px;
        border-radius: 5px;
        background-color: $dark-snow;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 15px;
            font-family: $font-pt-sans-caption-bold;
            color: $dark-smoke;
        }
        
        &:hover {
            background-color: $dark-smoke;
            
            p {
                color: $dark-snow;
            }
        }
    }

    @include breakpoint('tablet') {
        .info-test {
            font-size: 12px;
            text-align: right;

            br {
                display: block;
            }     
        }
    }
}

.container-top {
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: $font-pt-sans-caption-bold;

    h1 {
        color: $dark-smoke;
        font-size: 32px;
        margin-bottom: 16px;
    }

    h2 {
        color: $dark-smoke;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .form-search {
        width: 295px;
        height: 32px;
        background-color: #fff;
        border-radius: 5px;
        
        .search {
            width: 245px;
            height: 25px;
            float: left;
            font: 14px $font-pt-sans-italic ;
            outline: none;
            border: none;
            border-radius: 4px;
            text-indent: 10px;
            color: $smoke;
            margin: 2px 0 0 5px;

            &::placeholder {
                color: $smoke;
            }
        }

        .icon-search {
            width: 20px;
            height: 22px;
            background: url(../imgs/search.svg) no-repeat #FFF;
            float: right;
            margin: 8px 15px 0 0;
            border-radius: 5px;
        }
    }

    @include breakpoint('tablet') {
        width: 100vw;
        margin-top: 24px;
        margin-bottom: 32px;

        h1 { 
            font-size: 24px;
            text-align: center;
            margin-bottom: 24px;
        }

        h2 {
            color: $dark-smoke;
            font-size: 14px;
            text-align: center;
        }

        .form-search {
            width: 85%;
            display: block;
            margin: 0 auto;

            .search { 
                width: 80%;
            } 
        }
    } 
}

.container-hero {
    width: 1140px;
    margin: 0 auto;
    font-family: $font-pt-sans;
    margin-bottom: 8px;

    .title-areas {
        display: flex;
        flex-direction: row;

        span {
            display: flex;
            flex: 1;
            color: $smoke;
            font-size: 12px;
            margin-left: 24px;
            margin-bottom: 9px;
        }
    }

    .hero-list {
        align-items: center;
        height: 58px;
        background-color: #FFF;
        font: 14px $font-pt-sans;
        color: $dark-smoke;
        padding: 15px 0;
        display: flex;
        margin-bottom: 8px;
        box-shadow: 0px 0px 5px #00000033;
        border-radius: 4px;

        &:hover {
            box-shadow: 0px 0px 5px #00000099;
        }
    }

    .hero,
    .hero-series,
    .hero-events {
        display: flex;
        flex: 1;
        margin-left: 24px;
    }
    
    .hero-name {
        margin-left: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font: 16px $font-pt-sans-bold;
    }

    .hero-series,
    .hero-events {
        flex-direction: column;
    }

    @include breakpoint('tablet') {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 8px;
        
        .title-areas {
            
            span {
                margin-left: 86px;

                &:nth-child(2),
                &:nth-child(3) {
                    display: none;
                }
            }
        }

        .hero,
        .hero-series,
        .hero-events {
            margin-left: 0;
        }
        
        .hero-list {
            padding: 12px 16px;
            height: auto;
        }

        .hero-name {
            margin-left: 24px;
            font-size: 14px;
        }

        .hero-series,
        .hero-events {
            display: none;
        }
    }
}

.footer {
    background: #fff;
    display: flex;
    width: 98%;
    height: 70px;
    border-top: 1px solid $dark-snow;
    padding: 1%;
    bottom: 0;
    position: fixed;
    justify-content: center;
    
    .nav-left,
    .nav-right {
        width: 38px;
        height: 30px;
    }

    .pagination {
        display: flex;
        align-items: center;
    }

    .pagination a {
        color: $dark-smoke;
        background-color: $snow;
        margin-right: 16px;
        width: 38px;
        height: 30px;
        font: 14px $font-pt-sans;
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        border-radius: 4px;
        border: $dark-snow 1px solid;
        transition: background-color .3s;
    }

    .nav-right, .nav-left {
        font-size: 20px !important;
        border: none !important;
        background-color: #fff !important;
    }

    .pagination a.active {
        background-color: $dark-blue;
        border: $dark-blue 1px solid;
        border-radius: 4px $dark-blue;
        color: $snow;
    }
    
    .pagination a:hover:not(.active) { 
        background-color: #52ace6;
    }
        
    @include breakpoint('tablet') {
        background-color: #fff;
        display: flex;
        width: 100%;
        height: 59px;
        padding: 10px 0;
        bottom: 0;

        @media screen and (max-height: 570px){
            margin-top: 24px;
            position: relative;
		}

        .pagination a {
            margin-right: 6px;
            width: 26px;
            height: 29px;
        }
    
        .nav-right, .nav-left {
            font-size: 14px !important;
            border: none !important;
            background-color: #fff !important;
        }
         
    }
}